/*Header*/

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}

nav {
  margin-right: 20px;
  margin-bottom: 10px;
}
nav span {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: black;
}

/*main content*/

.main {
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
}

.section {
  display: flex;
  flex-direction: column;
}

.stories {
  display: flex;
  justify-content: space-between;
}


.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories .story-content {
  height: 250px;
}

/*first column*/

.section.first {
  width: 630px;
  margin-left: 15px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  align-items: center;
}

.story-text {
   font-family: Georgia;
   font-size: 17px;
   color: black;
}

.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
  padding-left: 15px;
}

.earth-story {
  background-image: url("../images/img-story-2.png");
  margin-top: 40px;
}

.camera-story {
  background-image: url("../images/img-story-3.png");
  margin-top: 40px;
}

/*second column*/

.section.second {
  width: 300px;
}

.section h2 {
  font-size: 30px;
  font-weight: bold;

}

.cat-story {
  background-image: url("../images/img-story-1.png");
}

/*third column*/

.section.third {
  width: 240px;
  margin-right: 60px;
}

.image-cookie {
  height: 240px;
  margin-top: 40px;
}

.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
}

/*footer*/

footer {
  display: flex;
  height: 320px;
  background-color: MediumAquamarine;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
}


.footer-title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  padding-right: 30px;
  color: White;
  border-right: 2px solid white;

}

footer nav {
  display: inline-block;
  font-family: Verdana;
  font-size: 12px;
  margin-left: 30px;
}

.copyright {
  margin-top: 10px;
}
