header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}
